<!DOCTYPE html>
<html>

<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="verify-v1" content="mnuJReFrqEd0Owe+keASRCjFNsc8tipoeV3tOa+JJVo=" />
    <meta name="msvalidate.01" content="CBAE337B674EA9B3025576FA60D4F7BF" />
    <script type="text/javascript" src="scriptFile.js">
    </script>
    <title>Ask a Lawyer a Question Online, Legal Advice (w/ Sample) | Rocket Lawyer</title>
    <link rel="icon" href="favicon_rocketlawyer.png" type="image/png" />
    <link rel="shortcut icon" href="favicon_rocketlawyer.png" type="image/png" />
    <link id="rlOpenSans" rel="stylesheet"
        href="//fonts.googleapis.com/css?family=Open+Sans:italic,300,400,600,700,700italic%7CMontserrat:italic,300,400,600,700,700italic"
        type='text/css' />
    <meta name="description"
        content="Ask a lawyer. Get legal advice from lawyers in your state. Ask a legal question to real lawyers. Get an answer from a lawyer that specializes in your issue." />
    <meta name="robots" content="index" />
    <link rel="stylesheet" type="text/css"
        href="refresh-assets/releases/1-0-65/1614971396271/css/mergedstylesonev2.min.css" />
    <link rel="stylesheet" type="text/css" href="refresh_assets/legal-advice/lib/jquery-bxslider/jquery.bxslider.css" />
    <link rel="stylesheet" type="text/css"
        href="refresh-assets/releases/1-0-63/1614385647554/css/mergedlegaladviceasklawyer.min.css" />
    <script src="refresh-assets/releases/1-0-0/1595818679207/js/singleapp/jquery.js"></script>

</head>

<body class="rlLegalAdviceSEO rlResponsivePageBody">
    <style>
        .main-header .has-edit-button .header-links .header-item {
            margin-right: .6rem;
        }
    </style><noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-4X44" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>

    <script>
    </script>
    <script src="refresh-assets/releases/1-0-0/1595818679207/js/singleapp/jquery.js"></script>
    <div id="fb-root"></div>
    <div id="HeaderApp" class="rlHeader rlClearfix" data-ng-controller="NavCtrl"
        data-ng-class="{rlHeaderShowingFullNav: !nonav}">

        <div class="rlHeaderMenuResponsiveHiding" data-ng-click="toggleFullNavMenu(false);">
        </div>
        <div class="rlHeaderOverall" data-ng-show="(!isLoggedIn || anon)">
            <div class="rlHeaderTop">
                <div class="mobile-overlay" id="mobileOverlayLoggedOut" style="display: none;">
                    <div class="close-wrapper w-clearfix">
                        <span
                            class="close-icon svg-svgs--icon-menu-close-x-mediumgray-dims svg-svgs--icon-menu-close-x-mediumgray">

                        </span>
                    </div>
                    <div class="main-menu">
                        <div class="menu-header">
                            <span>Explore</span>
                        </div>
                        <div>
                            <a href="legal-documents-forms-rl.html" class="mobile-menu-item">Make a document</a>
                            <a href="rocket-sign-digital-signatures-rl.html" class="mobile-menu-item">Sign documents
                                <span class="newLabelIcon mobile"
                                    style=" position: absolute; width: 35px; margin-top: 5px; margin-left: 20px !important; background-image: url(refresh-assets/releases/1-0-0/1595818679207/icons/svg/new-bubble.svg), none; background-size: 35px; background-repeat: no-repeat; display: inline-block; margin-left: auto;">&nbsp;
                                </span>
                            </a>
                            <a href="incorporation-rl.html" class="mobile-menu-item">Start a business</a>
                            <a href="index.html" class="mobile-menu-item">Ask a lawyer</a><a href="how-it-works-rl.html"
                                class="mobile-menu-item">Solutions</a>
                            <a href="plans-pricing-rl.html" class="mobile-menu-item">Pricing</a>
                        </div>
                        <div>
                            <div class="w-clearfix app-button-wrap"><a target="_blank" title="Apple mobile app"
                                    href="https://apps.apple.com/us/app/rocket-lawyer-easy-legal-help/id605512447"><span
                                        class="app-icon svg-svgs--app-download-button-apple-130-dims svg-svgs--app-download-button-apple-130"></span>
                                </a>
                                <a target="_blank" title="Android mobile app"
                                    href="https://play.google.com/store/apps/details?id=com.rocketlawyer.mobile.android">
                                    <span
                                        class="app-icon svg-svgs--app-download-button-android-130-dims svg-svgs--app-download-button-android-130"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="menu-header menu-header-account"><span>Account</span></div>
                    <a class="primary" href="login-register-rl.html#/register?hd=navreg">Sign up</a><a class="secondary"
                        href="login-register-rl.html#/login?hd=navreg">Sign in</a>
                    <div class="help-menu">
                        <div class="menu-header"><span>Get help</span></div><a href="help.html" class="menu-acc-btn">See
                            our FAQs</a><a href="contact-us-rl.html" class="menu-acc-btn">Send an email</a><a
                            href="help.html" class="menu-acc-btn rlMenuPopupTextLink2 rlLinkChatWithUs">Chat
                            online</a><a href="tel:+8778810847" id="help-ph-num-mobile" class="menu-acc-btn">Call (877)
                            881-0947</a>
                    </div>
                </div>
                <header class="main-header" id="loggedOutHeader" style="display: block;">
                    <div class="brand-wrapper"><a class="brand" href="index.html">
                            <div class="svg-svgs--logo-rocket-lawyer-white-dims svg-svgs--logo-rocket-lawyer-white">
                            </div>
                        </a></div>
                    <div class="has-edit-button" data-ng-cloak>
                        <div class="header-links">
                            <div class="header-item-wrapper">
                                <div class="header-item"><a href="legal-documents-forms-rl.html">Make documents</a>
                                </div>
                                <div class="dropdown-panel">
                                    <div class="subpanel-content">
                                        <div class="submenu-header make-documents-header">
                                            <div
                                                class="icon-nav svg-svgs--icon-document-mediumgray-dims svg-svgs--icon-document-mediumgray">
                                            </div>
                                            <div class="header-text">Easily make legal documents
                                            </div>
                                            <div class="submenu-cta"><a href="legal-documents-forms-rl.html"
                                                    class="primary">Find your document</a></div>
                                        </div>
                                        <div class="submenu-list">
                                            <div class="list-overall-title">Popular legal documents</div>
                                            <div class="row list-header-row">
                                                <div class="col col-4 list-header"><a
                                                        href="business-and-contracts-rl.html"
                                                        class="header-link">Business and contracts</a></div>
                                                <div class="col col-4 list-header"><a href="index.html"
                                                        class="header-link">Real estate</a></div>
                                                <div class="col col-4 list-header"><a href="index.html"
                                                        class="header-link">Family and personal</a></div>
                                            </div>
                                            <div class="row">
                                                <div class="col col-4"><a href="index.html"
                                                        class="text-link">Non-Disclosure Agreement</a><a
                                                        href="index.html" class="text-link">LLC Operating
                                                        Agreement</a><a href="index.html" class="text-link">Independent
                                                        Contractor Agreement</a><a href="index.html"
                                                        class="text-link">Business Contract</a></div>
                                                <div class="col col-4"><a href="index.html" class="text-link ">Lease
                                                        Agreement</a><a href="index.html" class="text-link ">Eviction
                                                        Notice</a><a href="index.html" class="text-link ">Intent to
                                                        Purchase Real Estate</a>
                                                    <a href="index.html" class="text-link ">Quitclaim Deed</a>
                                                </div>
                                                <div class="col col-4"><a href="index.html" class="text-link">Last Will
                                                        and Testament</a><a href="index.html" class="text-link">Living
                                                        Will</a><a href="index.html" class="text-link">Divorce
                                                        Settlement Agreement</a><a href="index.html"
                                                        class="text-link">Child Care Authorization</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="triangleHover"></div>
                            </div>
                            <div class="header-item-wrapper">
                                <div class="header-item"><a href="rocket-sign-digital-signatures-rl.html">Sign
                                        documents</a>
                                    <span class="newLabelIcon"
                                        style=" float: left; position: absolute; width: 35px; height: 15px; margin-top: -18px; background-image: url(refresh-assets/releases/1-0-0/1595818679207/icons/svg/new-bubble.svg), none; background-size: 25px; display: block; background-repeat: no-repeat;"></span>
                                    <div class="triangleHover"></div>
                                </div>
                            </div>
                            <div class="header-item-wrapper">
                                <div class="header-item"><a href="incorporation-rl.html">Start a business</a></div>
                                <div class="dropdown-panel">
                                    <div class="subpanel-content">
                                        <div class="submenu-header get-guidance-header">
                                            <div
                                                class="icon-nav svg-svgs--icon-incorporation-mediumgray-dims svg-svgs--icon-incorporation-mediumgray">
                                            </div>
                                            <div class="header-text">Let us help you incorporate your business </div>
                                            <div class="submenu-cta"><a href="incorporation-rl.html" class="primary">Get
                                                    started</a></div>
                                        </div>
                                        <div class="submenu-list">
                                            <div class="list-overall-title">Popular business topics</div>
                                            <div class="row list-header-row">
                                                <div class="col col-4 list-header">Starting a business</div>
                                                <div class="col col-4 list-header">Business operations</div>
                                                <div class="col col-4 list-header">Business property</div>
                                            </div>
                                            <div class="row">
                                                <div class="col col-4"><a href="index.html" class="text-link">Form an
                                                        LLC</a><a href="incorporation-rl.html"
                                                        class="text-link">Incorporate a business</a>
                                                    <a href="index.html" class="text-link">Start a non-profit</a>
                                                </div>
                                                <div class="col col-4"><a href="index.html" class="text-link">Employment
                                                        and HR</a><a href="index.html" class="text-link">Corporate
                                                        compliance</a><a href="index.html" class="text-link">See all
                                                        business legal services</a></div>
                                                <div class="col col-4"><a href="index.html" class="text-link">Rental
                                                        forms</a><a href="index.html" class="text-link">Trademark
                                                        registration</a><a href="index.html" class="text-link">Copyright
                                                        protection</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="triangleHover"></div>
                            </div>
                            <div class="header-item-wrapper">
                                <div class="header-item"><a href="index.html">Ask a lawyer</a></div>
                                <div class="dropdown-panel">
                                    <div class="subpanel-content">
                                        <div class="submenu-header ask-a-lawyer-header">
                                            <div
                                                class="icon-nav svg-svgs--icon-qa-new-mediumgray-dims svg-svgs--icon-qa-new-mediumgray">
                                            </div>
                                            <div class="header-text">Get fast legal advice from an attorney </div>
                                            <div class="submenu-cta"><a href="index.html" class="primary">Ask your
                                                    question</a></div>
                                        </div>
                                        <div class="submenu-list">
                                            <div class="list-overall-title">Popular legal topics</div>
                                            <div class="row list-header-row">
                                                <div class="col col-4 list-header">Business and contracts</div>
                                                <div class="col col-4 list-header">Finance and real estate</div>
                                                <div class="col col-4 list-header">Family and personal</div>
                                            </div>
                                            <div class="row">
                                                <div class="col col-4"><a href="index.html" class="text-link">Starting a
                                                        business</a><a href="index.html" class="text-link">Contracts and
                                                        business transactions</a><a href="index.html"
                                                        class="text-link">Intellectual property</a></div>
                                                <div class="col col-4"><a href="index.html"
                                                        class="text-link">Landlords</a>
                                                    <a href="index.html" class="text-link">Home ownership</a><a
                                                        href="index.html" class="text-link">Taxes</a>
                                                </div>
                                                <div class="col col-4"><a href="index.html" class="text-link">Estate
                                                        planning</a><a href="index.html"
                                                        class="text-link">Marriage</a><a href="index.html"
                                                        class="text-link">Divorce</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="triangleHover"></div>
                            </div>
                            <div class="header-item-wrapper">
                                <div class="header-item"><a href="how-it-works-rl.html">Solutions</a></div>
                                <div class="dropdown-panel">
                                    <div class="subpanel-content">
                                        <div class="submenu-header about-us-header">
                                            <div
                                                class="icon-nav svg-svgs--icon-rl-circle-rlred-dims svg-svgs--icon-rl-circle-rlred">
                                            </div>
                                            <div class="header-text">Learn more about Rocket Lawyer </div>
                                            <div class="submenu-cta"><a href="contact-us-rl.html"
                                                    class="primary">Contact us</a></div>
                                        </div>
                                        <div class="submenu-list single-row">
                                            <div class="row"><a href="how-it-works-rl.html" class="text-link">How it
                                                    works</a><a href="index.html" class="text-link">For employers</a><a
                                                    href="index.html" class="text-link">For small business</a><a
                                                    href="index.html" class="text-link">For developers</a>
                                                <a href="index.html" class="text-link">For lawyers</a><a
                                                    href="index.html" class="text-link">About us</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="triangleHover"></div>
                            </div>
                            <div class="header-item-wrapper">
                                <div class="header-item"><a href="plans-pricing-rl.html">Pricing</a></div>
                                <div class="triangleHover"></div>
                            </div>
                        </div>
                    </div>
                    <div class="side-items" data-ng-cloak>
                        <div class="account-collapsed">
                            <div class="svg-svgs--icon-header-avatar-white-dims svg-svgs--icon-header-avatar-white">
                            </div>
                        </div>
                        <div class="account"><a href="login-register-rl.html#/login?hd=navreg"
                                class="log-in-btn secondary">Sign in</a>
                            <a href="login-register-rl.html#/register?hd=navreg" class="sign-up primary">Sign up</a>
                        </div>
                        <div class="menu"><button type="button" class="menu-button secondary">MENU </button></div>
                        <div class="help">
                            <div class="help-dropdown">
                                <ul class="unstyled-list">
                                    <li> <a id="navbar_forum_link_logged_out" href="help.html" class="menu-acc-btn">See
                                            our FAQs</a></li>
                                    <li> <a id="navbar_emailus_link_logged_out" href="contact-us-rl.html"
                                            class="menu-acc-btn">Send an email</a></li>
                                    <li> <a id="navbar_chat_link_logged_out"
                                            class="menu-acc-btn rlMenuPopupTextLink2 rlLinkChatWithUs">Chat online</a>
                                    </li>
                                    <li> <a id="navbar_callus_link_logged_out" href="tel:+8778810947"
                                            class="menu-acc-btn">Call (877) 881-0947</a></li>
                                </ul>
                            </div>
                            <div class="svg-svgs--icon-help-white-dims svg-svgs--icon-help-white"></div>
                        </div>
                        <div class="search" id="rlHeaderSearchBoxIconNew">
                            <div
                                class="search-open-close svg-svgs--icon-nav-search-white-dims svg-svgs--icon-nav-search-white">
                            </div>
                            <div class="search-submit svg-svgs--icon-nav-search-white-dims svg-svgs--icon-nav-search-white"
                                data-ng-click="submitSearch('gmc-search-demo-button');"></div>
                        </div>
                        <div class="close-search">
                            <div
                                class="svg-svgs--icon-search-close-x-mediumgray-dims svg-svgs--icon-search-close-x-mediumgray">
                            </div>
                        </div>
                    </div>
                    <div class="search-component" data-ng-cloak>
                        <div class="search-bar">
                            <div class="rlHeaderSearchContainer" data-ng-show="dynamicHeader">
                                <form id="site-search" action="index.html"><input
                                        placeholder="Search documents and guides" name="query" title="Search"
                                        type="text" id="gmc-search-demo-query" class="rlHeaderSearchBox" data-enter-hit
                                        autocomplete="off" data-ng-model="strCurrentSearchTerm"
                                        data-ng-change="searchForTerm(); toggleTypeAheadContainer(true);"
                                        data-ng-blur="toggleTypeAheadContainer(false);" /><input type="submit"
                                        class="rlHeaderSearchButton" value="Search" name="btnSearch"
                                        id="gmc-search-demo-button" data-ng-click="trackAndThenSubmit($event);">
                                    <div data-typeahead data-items="arrSearchResults" data-select="selectTerm(item);"
                                        data-has-active-item="hasActiveItem(bHasActiveItem);">
                                        <div class="rlContainerTypeahead" data-ng-show="hasResults()">
                                            <ul class="rlListTypeahead">
                                                <li class="rlListItemTypeahead" data-typeahead-item="oResult"
                                                    data-ng-repeat="oResult in arrSearchResults"
                                                    data-ng-bind-html="processedTypeaheadChoice(oResult)"></li>
                                            </ul>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </header>
            </div>
        </div>
        <div class="rlAppNav rlClearfix" data-ng-show="isLoggedIn && !anon" data-ng-cloak>
            <div class="rlAppNav">
                <div class="iconNav rlClearfix">
                    <a data-ng-href="/app.rl{{auxState.user.home}}" class="rlLogo" title="user home"
                        data-ng-click="navClick('circler')"><span class="rl-icon rl_circle-r-logo"></span></a><a
                        data-ng-href="/app.rl{{auxState.user.home}}" class="rlName" title="user home"
                        data-ng-click="navClick('circler')"></a>
                    <div class="userAccount animate-link-red rlClearfix" onclick="void(0)">
                        <p class="accountName" data-ng-cloak>{{firstName}} {{lastName}} </p>
                        <div class="accountImage"
                            data-ng-style="{'background-image': 'url(\'/classic-site/profile_images/'+'{{auxState.user.info.global_identifier}}'+'/personal.jpg?_=' + {{randomVal}} + '\')'}">
                        </div>
                        <div class="dropMenu accountMenu rlClearfix">
                            <div class="accountSelection"
                                data-ng-show="auxState.user.accounts.admins.length + auxState.user.accounts.owners.length > 1">
                                <p>Use Rocketlawyer as:</p><a class="accountSelect"
                                    data-ng-repeat="account in auxState.user.accounts.owners"
                                    data-ng-click="switchAccount(account)"
                                    data-ng-class="{selected: account.accountId == auxState.user.current.accountId}">{{account.info.first_name}}
                                    {{account.info.last_name}} </a><a class="accountSelect"
                                    data-ng-repeat="account in auxState.user.accounts.admins"
                                    data-ng-click="switchAccount(account)"
                                    data-ng-class="{selected: account.accountId == auxState.user.current.accountId}">
                                    {{account.info.name}} </a>
                            </div><a class="menuLink"
                                data-ng-show="auxState.user.current.role == 'OWNER' || !auxState.user.current"
                                data-ng-class="{selected: $window.location.hash.indexOf('avatar_account') > -1}"
                                data-ng-click="navClick('accountsettings')"
                                data-ng-href="{{(auxState.user.info.is_lawyer) ? '/app.rl#/profile-details' : '/app.rl#/account-settings'}}"
                                title="user accounts"><span class="rl-icon rl_settings"></span> Account Settings </a><a
                                class="menuLink" data-ng-click="logOut()"><span class="rl-icon rl_signout"></span> Sign
                                out </a>
                        </div>
                    </div>
                    <div class="help animate-link-red" onclick="void(0)">
                        <span class="rl-icon rl_help-outline"></span>
                        <div class="dropMenu helpMenu"><a class="menuLink" href="help.html"
                                data-ng-click="navClick('help_faqs')" title="help">See our FAQs </a><a class="menuLink"
                                href="contact-us-rl.html" data-ng-click="navClick('help_email')" title="contact us">Send
                                an email </a><a class="menuLink" href="tel:+18778810947"
                                data-ng-click="navClick('help_callus')" title="tel:+18778810947">Call us: (877) 881-0947
                            </a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <important-alert></important-alert>
        <div data-ng-hide="noBreadCrumb">
            <div class="rlAppBreadCrumb" data-ng-show="isLoggedIn && !anon" data-ng-cloak>
                <div class="rlBCBanner rlClearfix">
                    <ul class="rlbreadcrumb desktopOnly">
                        <li><a class="exploreIcon activityImg back" data-ng-mouseenter="hover=true"
                                data-ng-mouseleave="hover=false"
                                data-ng-if="auxState.lastRoute!='/explore' &amp;&amp; auxState.lastRoute!='/search'"
                                data-ng-href="/app.rl{{auxState.lastRoute}}" title="app rlauxState"><span
                                    class="activities" data-ng-hide="hover"></span><span class="hoveractivities"
                                    data-ng-show="hover"></span><span class="backTo">Back to Activities</span></a><a
                                class="exploreIcon exploreImg back" data-ng-mouseenter="exhover=true"
                                data-ng-mouseleave="exhover=false" data-ng-if="auxState.lastRoute=='/explore'"
                                data-ng-href="/app.rl/explore" title="explore"><span class="explore"
                                    data-ng-hide="exhover"></span><span class="hoverexplore"
                                    data-ng-show="exhover"></span><span class="backTo">Back to Explore</span></a><a
                                class="exploreIcon searchImg back" data-ng-mouseenter="sehover=true"
                                data-ng-mouseleave="sehover=false" data-ng-if="auxState.lastRoute=='/search'"
                                data-ng-href="/app.rl/search" title="search"><span class="search"
                                    data-ng-hide="sehover"></span><span class="hoversearch"
                                    data-ng-show="sehover"></span><span class="backTo">Back to Search</span>
                            </a></li>
                        <li data-ng-if="auxState.history.length>4"><a class="divider" style="width:0"></a></li>
                        <li data-ng-if="auxState.history.length>4"><a class="divider" style="width:0"></a></li>
                        <li data-ng-repeat="breadCrumb in auxState.history"><a class="exploreIcon"
                                data-ng-href="{{breadCrumb.url}}" title="breadCrumb"
                                data-ng-click="breadCrumbClick($index)"><span
                                    class="breadCrumbTitle">{{breadCrumb.title}}</span></a></li>
                    </ul>
                    <ul class="rlbreadcrumb mobileOnly">
                        <li><a class="exploreIcon activityImg back" data-ng-mouseenter="hover=true"
                                data-ng-mouseleave="hover=false"
                                data-ng-if="auxState.lastRoute!='/explore' &amp;&amp; auxState.lastRoute!='/search'"
                                data-ng-href="/app.rl{{auxState.lastRoute}}" title="app rlauxState">
                                <span class="activities" data-ng-hide="hover"></span><span class="hoveractivities"
                                    data-ng-show="hover"></span></a><a class="exploreIcon exploreImg back"
                                data-ng-mouseenter="exhover=true" data-ng-mouseleave="exhover=false"
                                data-ng-if="auxState.lastRoute=='/explore'" data-ng-href="/app.rl/explore"
                                title="explore"><span class="explore" data-ng-hide="exhover"></span><span
                                    class="hoverexplore" data-ng-show="exhover"></span></a><a
                                class="exploreIcon searchImg back" data-ng-mouseenter="sehover=true"
                                data-ng-mouseleave="sehover=false" data-ng-if="auxState.lastRoute=='/search'"
                                data-ng-href="/app.rl/search" title="search"><span class="search"
                                    data-ng-hide="sehover"></span><span class="hoversearch"
                                    data-ng-show="sehover"></span></a></li>
                        <li data-ng-repeat="breadCrumb in auxState.history"
                            data-ng-if="$index >auxState.history.length-3"><a class="exploreIcon"
                                data-ng-href="{{breadCrumb.url}}" title="bread crumb"
                                data-ng-click="breadCrumbClick($index)"><span
                                    class="breadCrumbTitle">{{breadCrumb.title}}</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="rlHeaderSpecialFixedSpacer"></div>
    </div>
    <div id="heroContainer" class="heroImgContainer">
        <div class="rlContentWrapper">
            <div class="lawyerQA">
                <div id="form_gotaquestion">
                    <form id="rlQABox" action="index.html#/questionDetail" method="POST">
                        <div class="questionSubmit">
                            <h1>Legal Advice in Minutes</h1><span>Real Lawyers. Real Answers. Right Now.</span><textarea
                                id="lawyerQA_textarea" name="questionText"
                                placeholder="Enter your detailed legal question here." maxlength="600" rows="8"
                                value=""></textarea>
                            <p class="textAreaCharRemaining charactersremaining">Characters remaining: <span
                                    style="">600</span></p>
                            <div style="clear:both"></div><input type="hidden" name="hashWorkaround"
                                value="questionDetail"><input type="hidden" name="source" value="SEO">
                            <input class="btn btn-primary btn-medium-new" type="submit" value="Get your answer">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="rlContentWrapper">
            <div class="imageSignature">Alicia Dearn, Esq. <br /><b>Rocket Lawyer On Call&#174; Attorney</b></div>
        </div>
    </div>
    <div class="howItWorksArea">
        <div class="rlContainer">
            <div class="howItWorksRow rlHeading">How it works</div>
            <div class="howItWorksRow">
                <div class="howItWorksIconRow">
                    <div class="howItWorksItem">
                        <div class="howItWorksIcon howItWorksAsk"></div>
                        <div class="howItWorksText">Ask your detailed legal question.</div>
                    </div>
                    <div class="howItWorksIcon howItWorksArrow"></div>
                    <div class="howItWorksItem">
                        <div class="howItWorksIcon howItWorksLawyers"></div>
                        <div class="howItWorksText">Get an answer from a lawyer that specializes in your issue.</div>
                    </div>
                    <div class="howItWorksIcon howItWorksArrow"></div>
                    <div class="howItWorksItem">
                        <div class="howItWorksIcon howItWorksDone"></div>
                        <div class="howItWorksText">Resolve your issue and be on your way.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='legalAdviceOnlineContainer'>
        <div class="rlContainer">
            <div class="legalAdviceOnlineRow rlHeading">Why legal advice online?</div>
            <div class="legalAdviceOnlineRow">
                <div class="legalAdviceOnlineHeadingRow">
                    <div class="legalAdviceOnlineItem">
                        <div class="legalAdviceOnlineHeadingText">Simple</div>
                        <div class="legalAdviceOnlineText">The law is complex. We make it fast and easy to get an answer
                            from a real lawyer online.</div>
                    </div>
                    <div class="legalAdviceOnlineItem">
                        <div class="legalAdviceOnlineHeadingText">On demand</div>
                        <div class="legalAdviceOnlineText">Have a legal question about starting a business or protecting
                            your family? Get the guidance you need, now.</div>
                    </div>
                    <div class="legalAdviceOnlineItem">
                        <div class="legalAdviceOnlineHeadingText">Trusted</div>
                        <div class="legalAdviceOnlineText">Ask a question with confidence. We'll protect your privacy
                            and keep your information safe.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='attorneyProfileContainer'>
        <div class="rlContainer">
            <div class="attorneyProfileRow rlHeading">Meet some of our lawyers</div>
            <div class="attorneyProfileRow">
                <div class="slider1">
                    <div class="slide"><img src="static_files/img/lawyers/lawyer-dinesh-singhal-191x162.jpg"
                            alt="Dinesh Singhal">
                        <div class="text" style="text-align:center;">
                            <div class="attyName">Dinesh Singhal</div>
                            <p>Rocket Lawyer On Call Attorney<br />In practice since 1997 <br />Bankruptcy Law </p>
                        </div>
                    </div>
                    <div class="slide"><img
                            src="refresh-assets/releases/1-0-0/1595818679207/legal-advice/img/attyimages/kendall_jones.jpg"
                            alt="kendall jones">
                        <div class="text" style="text-align:center;">
                            <div class="attyName">Kendall Taylor Jones</div>
                            <p>Rocket Lawyer On Call Attorney<br />In practice since 1995 <br />Business Law </p>
                        </div>
                    </div>
                    <div class="slide"><img
                            src="refresh-assets/releases/1-0-0/1595818679207/legal-advice/img/attyimages/sandro_tuzzo.jpg"
                            alt="sandro tuzzo">
                        <div class="text" style="text-align:center;">
                            <div class="attyName">Sandro Tuzzo</div>
                            <p>Rocket Lawyer On Call Attorney<br />In practice since 2001 <br />Family Law </p>
                        </div>
                    </div>
                    <div class="slide"><img
                            src="refresh-assets/releases/1-0-0/1595818679207/legal-advice/img/attyimages/wendy_calvert.jpg"
                            alt="wendy calvert">
                        <div class="text" style="text-align:center;">
                            <div class="attyName">Wendy Calvert</div>
                            <p>Rocket Lawyer On Call Attorney<br />In practice since 1999 <br />Real Estate Law </p>
                        </div>
                    </div>
                    <div class="slide"><img
                            src="refresh-assets/releases/1-0-0/1595818679207/legal-advice/img/attyimages/ryan_stibor.jpg"
                            alt="ryan stibor">
                        <div class="text" style="text-align:center;">
                            <div class="attyName">Ryan Stibor</div>
                            <p>Rocket Lawyer On Call Attorney<br />In practice since 2003 <br />Intellectual Property
                                Law </p>
                        </div>
                    </div>
                    <div class="slide"><img
                            src="refresh-assets/releases/1-0-0/1595818679207/legal-advice/img/attyimages/mario_jaramillo.jpg"
                            alt="mario jaramillo">
                        <div class="text" style="text-align:center;">
                            <div class="attyName">Mario Jaramillo</div>
                            <p>Rocket Lawyer On Call Attorney<br />In practice since 1998<br />Family Law </p>
                        </div>
                    </div>
                    <div class="slide"><img
                            src="refresh-assets/releases/1-0-0/1595818679207/legal-advice/img/attyimages/bradley_kramer.jpg"
                            alt="bradley kramer">
                        <div class="text" style="text-align:center;">
                            <div class="attyName">Bradley Kramer</div>
                            <p>Rocket Lawyer On Call Attorney<br />In practice since 2004 <br />Business Law </p>
                        </div>
                    </div>
                    <div class="slide"><img
                            src="refresh-assets/releases/1-0-0/1595818679207/legal-advice/img/attyimages/marc_gertsaov.jpg"
                            alt="marc gertsaov">
                        <div class="text" style="text-align:center;">
                            <div class="attyName">Marc Gertsacov</div>
                            <p>Rocket Lawyer On Call Attorney<br />In practice since 2000 <br />Business Law </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='aboutUsContainer'>
        <div class="rlContainer" style="padding:0px;">
            <div class="leftpanel">
                <div class="mapImg"><img src="static_files/img/lawyers/us-map-lawyers-jaramillo-murdoch-patel-_2x.png"
                        alt="map with lawyers"></div>
            </div>
            <div class="rightpanel">
                <div class="text">
                    <p class="rlHeading">Lawyers near you</p>
                    <p><span>Thousands</span> of questions have been answered by attorneys in our nationwide Rocket
                        Lawyer On Call network.</p>
                    <p>Popular legal topics include:</p>
                    <ul class="busAreaList">
                        <li>Family Law</li>
                        <li>Starting a Business</li>
                        <li>Wills &amp; Trusts</li>
                        <li>Business Contracts</li>
                        <li>Criminal Law</li>
                        <li>Employment Law</li>
                        <li>Personal Injuries</li>
                        <li>Real Estate Law</li>
                    </ul>
                </div><input type="button" id="continueButtonMedium"
                    onclick="document.body.scrollTop = document.documentElement.scrollTop = 0;"
                    class="rlButtonOrangeLarge rlMarginTopSmall" value="Get your answer" />
            </div>
        </div>
    </div>
    <div class='testimonialSatisfactionContainer'>
        <div class="rlContainer" style="padding:0px;">
            <div class="leftpanel rlCustomer">
                <div class="text">
                    <p class="rlHeadingSmall">Who uses Rocket Lawyer?</p>
                    <div class="quoteicon"><img
                            src="refresh-assets/releases/1-0-0/1595818679207/img/qaoptimizelyimg/img_quotesmall.png"
                            alt="img quoteSmall"></div>
                    <p>I've been taking care of my mother for a while now, and needed to update her Advanced Health Care
                        Directive. I used Rocket Lawyer because it was fast, self-explanatory, and very easy to use.
                    </p>
                    <div class="signature"><span>-Guillermo V., CA</span> <br /><span>Rocket Lawyer Customer</span>
                    </div>
                </div><img class="testimonialImg"
                    src="refresh-assets/releases/1-0-0/1595818679207/img/qaoptimizelyimg/img_testimonialsmall.png"
                    alt="img testimonialSmall">
            </div>
            <div class="rightpanel">
                <div class="sealImgTablet"><img
                        src="refresh-assets/releases/1-0-0/1595818679207/legal-advice/img/rl-quality_lg.png"
                        alt="rl quality lg"></div>
                <div class="text">
                    <p class="rlHeadingSmall">Our quality guarantee</p>
                    <p style="min-width:70%; width:auto;">We guarantee our service is safe and secure. Use Rocket Lawyer
                        free one week and cancel anytime.</p>
                </div>
                <div class="sealImg"><img
                        src="refresh-assets/releases/1-0-0/1595818679207/legal-advice/img/rl-quality_lg.png"
                        alt="rl quality lg"></div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="rlContainer">
            <div class="app-buttons-wrap mobile-only"><a target="_blank" title="Apple mobile app"
                    href="https://apps.apple.com/us/app/rocket-lawyer-easy-legal-help/id605512447"><span
                        class="svg-svgs--app-download-button-apple-dims svg-svgs--app-download-button-apple"></span></a><a
                    target="_blank" title="Android mobile app"
                    href="https://play.google.com/store/apps/details?id=com.rocketlawyer.mobile.android"><span
                        class="svg-svgs--app-download-button-android-dims svg-svgs--app-download-button-android"></span></a>
            </div>
            <div class="rlFooterPressArea">
                <div class="rlFooterPressContainerLeft">
                    <div class="rlFooterPressLogo1"></div>
                </div>
                <div class="rlFooterPressContainerRight">
                    <div class="rlFooterPressLogo2"></div>
                </div>
                <div class="rlFooterPressContainerLeft">
                    <div class="rlFooterPressLogo3"></div>
                </div>
                <div class="rlFooterPressContainerRight">
                    <div class="rlFooterPressLogo4"></div>
                </div>
                <div class="rlFooterPressContainerFull">
                    <div class="rlFooterPressLogo5"></div>
                </div>
            </div>
            <div class="rlFooterLinks">
                <div class="rlFooterLinkColumnLeft">
                    <h4>Rocket Lawyer</h4>
                    <ul>
                        <li><a href="index.html" title="Rocket Lawyer">Home</a></li>
                        <li><a href="legal-documents-forms-rl.html" title="legal documents forms">Legal documents &amp;
                                forms</a></li>
                        <li><a href="index.html" title="legal help center">Legal help center</a></li>
                        <li><a href="index.html" title="ask a lawyer">Ask a lawyer</a></li>
                        <li><a href="incorporation-rl.html" title="Incorporation">Incorporation</a></li>
                        <li><a href="index.html" title="Start an LLC">Start an LLC</a></li>
                        <li><a href="how-it-works-rl.html" title="how it works">How it works</a></li>
                        <li><a href="index.html" title="rocket lawyer legal benefits">For employers</a></li>
                        <li><a href="plans-pricing-rl.html" title="plans pricing">Pricing</a></li>
                        <li class="redirect-to-app-store"><a href="index.html" title="download mobile app">Mobile
                                apps</a></li>
                        <li><a href="index.html" title="sitemap">Site map</a></li>
                    </ul>
                </div>
                <div class="rlFooterLinkColumnRight">
                    <h4>More legal resources</h4>
                    <ul>
                        <li><a href="index.html" title="find a lawyer">Lawyer directory</a></li>
                        <li><a href="index.html" title="free legal help">Legal help articles</a></li>
                        <li><a href="index.html" title="legal dictionary">Legal dictionary</a></li>
                        <li><a href="index.html" title="blog">Everyday law blog</a></li>
                    </ul>
                    <h4>For Attorneys</h4>
                    <ul>
                        <li><a href="index.html" title="on call signup">Get matched with clients</a></li>
                    </ul>
                    <h4>For Developers</h4>
                    <ul>
                        <li><a href="index.html" title="APIs">APIs</a></li>
                    </ul>
                </div>
                <div class="rlFooterLinkColumnLeft">
                    <h4>Connect with us</h4>
                    <ul>
                        <li><a href="index.html" title="about us">About us</a></li>
                        <li><a href="index.html" title="careers">Careers</a></li>
                        <li><a href="contact-us-rl.html" title="contact us">Contact us</a></li>
                        <li><a href="index.html" title="our partners">Partner with us</a></li>
                        <li><a href="index.html" title="Newsroom">Newsroom</a></li>
                    </ul>
                    <h4>Follow us:</h4>
                    <ul class="social-icons">
                        <li><a href="https://www.facebook.com/RocketLawyer" target="_blank" title="facebook">
                                <span class="social-icon facebook"></span></a></li>
                        <li><a href="https://twitter.com/rocketlawyer" target="_blank" title="twitter"><span
                                    class="social-icon twitter"></span></a></li>
                        <li><a href="https://www.linkedin.com/company/rocket-lawyer-inc" target="_blank"
                                title="linkedin"><span class="social-icon linkedin"></span></a>
                    </ul>
                </div>
                <div class="rlFooterLinkColumnRight">
                    <h4>Assistance</h4>
                    <p class="chat-with-us"><a href="javascript:;" title="javascript:;">Chat With Us <span
                                class="rl-icon rl_arrow_right"></span></a></p>
                    <p class="contact-info"><span class="phone">(877) 881-0947</span><br />
                        Call us Monday-Friday <span class="nowrap">6am-6pm PT</span></p>
                    <div class="app-buttons-wrap desktop-only"><a target="_blank" title="Apple mobile app"
                            href="https://apps.apple.com/us/app/rocket-lawyer-easy-legal-help/id605512447"><span
                                class="svg-svgs--app-download-button-apple-dims svg-svgs--app-download-button-apple"></span></a><a
                            target="_blank" title="Android mobile app"
                            href="https://play.google.com/store/apps/details?id=com.rocketlawyer.mobile.android"><span
                                class="svg-svgs--app-download-button-android-dims svg-svgs--app-download-button-android"></span></a>
                    </div>
                </div>
            </div>
            <div class="rlFooterLinks flag-container">
                <div class="rlFooterLinkColumnLeft">
                    <h4 class="other-country">Rocket Lawyer UK <a href="index.html" title="Rocket Lawyer UK"><span
                                class="rlFooterFlag rlFooterFlagUK"> </span></a></h4>
                    <h4 class="other-country">Rocket Lawyer FR <a href="index.html" title="Rocket Lawyer FR"><span
                                class="rlFooterFlag rlFooterFlagFR"> </span></a></h4>
                </div>
                <div class="rlFooterLinkColumnRight">
                    <h4 class="other-country">Rocket Lawyer ES <a href="index.html" title="Rocket Lawyer ES"><span
                                class="rlFooterFlag rlFooterFlagES"> </span></a></h4>
                    <h4 class="other-country">Rocket Lawyer NL <a href="index.html" title="Rocket Lawyer NL"><span
                                class="rlFooterFlag rlFooterFlagNL"> </span></a></h4>
                </div>
                <div class="rlFooterLinkColumnLeft"></div>
                <div class="rlFooterLinkColumnRight"></div>
            </div>
            <p class="copyright">Copyright <span id="currentYear"></span> Rocket Lawyer Incorporated. Rocket Lawyer
                provides legal information and other services through this site. Rocket Lawyer is not a "lawyer referral
                service" or a law firm, does not provide legal advice or representation (except in certain
                jurisdictions), and is not intended as a substitute for an attorney or law firm. In Utah, Rocket Lawyer
                is a nonlawyer-owned company authorized to provide legal services, including the practice of law, by the
                Utah Supreme Court; further information regarding this authorization can be found in our <a
                    href="index.html">Terms of Service</a>. Use of Rocket Lawyer is subject to our <a
                    href="index.html">Terms of Service</a> and <a href="index.html" class="nowrap">Privacy Policy</a>.
            </p>
            <div class="security-logos-container"><span id="siteseal">
                    <script async
                        src="https://seal.godaddy.com/getSeal?sealID=2bwaxrVW6LZoFCPhMY3cMBV1jhUgnuGzC6vwHhsJg0XzcJaiV4lVkV12nyBL"></script>
                </span></div>
        </div>
    </div>
    <script
        src="https://www.rocketlawyer.com/refresh-assets/releases/1.0.75/1618592123412/js/headerCombo.min.js?v=1439421167937"></script>
    <script>
        angular.bootstrap(document.getElementById('HeaderApp'), ['HeaderApp']);
    </script>
    <script>
        if ((document.cookie.indexOf('mobileapp=true') >= 0) && (document.cookie.indexOf('mobileappversion') >= 0)) {
            document.querySelector(".rlHeader").style.display = 'none';
        }
    </script>
    <script
        src="https://www.rocketlawyer.com/refresh-assets/releases/1.0.23/1601581555473/js/navigation.min.js"></script>
    <script src="https://www.rocketlawyer.com/refresh-assets/releases/1.0.0/1595818679207/js/qa.min.js"></script>
    <script
        src="https://www.rocketlawyer.com/refresh-assets/releases/1.0.31/1603411698828/js/footerCombo.min.js"></script>
    <center>
        <font size="2">This is the free demo result. For a full version of this website, please go to <a
                href="https://www6.waybackmachinedownloader.com/website-downloader-online/scrape-all-files/">Website
                Downloader</a></font>
    </center>
</body>

</html>